<!DOCTYPE html>
<html>    
<title> David Rodriguez Portfolio </title>

<link rel="stylesheet" href="assets/css/header.css">
<div class="info-box">
        <img src="../assets/images/headshot.jpg" alt="Headshot" class="header-image">
        <div class="header-text">
            <h1 id="project_title" class="center">David Rodriguez</h1>
        </div>
        <div class="social-icons">
            <ul>
                {% for link in site.data.links %}
                <li>
                    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
 <i class="{{ link.icon }}" aria-hidden="true"></i> {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</html>