<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="https://drod75.github.io/assets/css/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<title> David Rodriguez Portfolio </title>

<div class="info-box">
        <img src="../assets/images/headshot.jpg" alt="Headshot" class="header-image">
        <div class="header-text">
            <h1 id="project_title" class="center">David Rodriguez</h1>
            <nav class="socials">
                <ul>
                    {% for link in site.data.links %}
                    <li>
                        <a href="{{ link.url }}">
                            <i class="{{ link.icon }}" aria-hidden="true"></i>
                            <p>{{ link.title }}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</html>