<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="https://drod75.github.io/assets/css/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="inner">

    <div class="info-box">
        <img src="../assets/images/headshot.jpg" alt="Headshot" class="header-image">
        <div class="header-text">
            <h1 id="project_title" class="center">David Rodriguez Portfolio</h1>
            <nav class="footer-bar">
                <ul>
                    <li>
                        <a href="https://drive.google.com/file/d/1KonBTjoFPK_--7S03210rA4weh5lgDl0/view?usp=drive_link">
                            <i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
                            <p>Resume</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/david-rodriguez-nyc/">
                            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                            <p>LinkedIn</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/drod75">
                            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                            <p>Github</p>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:dr507498@gmail.com">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            <p>Email</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

</html>