
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

* {
  font-family: "Raleway", sans-serif;
}

.main-bio {
    padding: 40px;
}

@media (min-width: 768px) {
  .main-bio {
    font-size: 1.25em; 
  }
}