.footer-whole  {
  display: flex; 
  justify-content: space-evenly;
  margin-top: 0px;
}

.social-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  overflow: hidden;
  gap: 10px;
}

.social-links a {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 18px;
  text-align: left;
}

.social-links a:hover {
  text-decoration: underline;
  color: #0073b1;
}
