.navbar {
  color: whitesmoke;
  text-align: center; /* Center the navbar content */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: whitesmoke;
  text-align: center;
}

.navbar a:hover {
  color: black;
  background-color: whitesmoke; /* White background with 50% opacity */
  opacity: 0.7;
  border-radius: 25px;
}

/* FOOTER */
.footer-bar {
  color: whitesmoke;
  text-align: center; /* Center the navbar content */
}

.footer-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  overflow: hidden;
}

.footer-bar a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: whitesmoke;
  text-align: center;
}

.footer-bar a:hover {
  color: #0073b1;
  text-decoration: underline; /* White background with 50% opacity */
  opacity: 0.7;
  border-radius: 25px;
}

.info-box {
  display: flex; 
  justify-content: space-between;
}

#project_title.center{
  text-align: center;
}

#project_tagline.center{
  text-align: center;
}

#header_wrap{
  background: url(../images/sidebar-bg.jpg) center;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}