#header_wrap {
    background-color: white;
    opacity: 0;
}

#header_wrap.bg-image {
    background-color: white;
    opacity: 0;
    background-image: url("../images/sidebar-bg.jpg");
}

.navbar {
  color: whitesmoke;
  text-align: center; /* Center the navbar content */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: whitesmoke;
  text-align: center;
}

.navbar a:hover {
  color: black;
  background-color: whitesmoke; /* White background with 50% opacity */
  opacity: 0.7;
  border-radius: 25px;
}
