/*
  Project Page Styles
  This file contains styles for the project page layout and elements.
*/

/* Container Styles */
.container {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Item Styles */
.item {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 600px;
  margin-bottom: 25px;
}

/* Post Article Styles */
.post-article {
  color: white;
  text-align: center;
  width: 350px;
  padding: 0;
}

/* Project Image Styles */
#project_image {
  width: 100%;
  height: 350px;
  padding: 0;
}

#project_image img {
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 0;
}

/* Post Article Heading Styles */
.pa-h1 {
  font-size: 13pt;
  text-align: center; /* Added to center the heading */
  text-decoration: underline;
  text-decoration-color: orange;
  height: 35px;
  margin: 0;
  padding: 0;
}

/* Post Article Paragraph Styles */
.pa-p {
  font-size: 12px;
  height: 200px;
  width: 95%;
  padding: 0;
  margin: 0px;
}
