/*
  Project Page Styles
  This file contains styles for the project page layout and elements.
*/

/* Container Styles */
.card-container {
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 75px;
}

/* Item Styles */
.project-card {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 600px;
  transition: transform .5s;
  transition: color 0.5, background-color 0.5s;
}

.project-card:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 20px rgba(36, 36, 36, 0.5));
}

/* Project Image Styles */
.project-image {
  width: 100%;
  height: 350px;
  padding: 0;
}

.project-image img {
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 0;
}

/* Post Article Styles */
.project-text {
  color: white;
  text-align: center;
  width: 350px;
  padding: 0;
}

/* Post Article Heading Styles */
.project-header {
  font-size: 13pt;
  text-align: center; /* Added to center the heading */
  text-decoration: underline;
  text-decoration-color: orange;
  height: 35px;
  margin: 0;
  padding: 0;
  transition: color 0.3s, background-color 0.3s;
}

.project-header:hover {
  text-decoration-color: #0073b1;
}

.project-header a {
  color: white;
  transition: color 0.3s, background-color 0.3s;
}

.project-header a:hover {
  color: #0073b1;
}

/* Post Article Paragraph Styles */
.project-paragraph {
  font-size: 8pt;
  height: 200px;
  width: 95%;
  padding: 0;
  margin: 0px;
}
