.item {
  width: 50%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  flex: 50%;
  border-color: black;
  margin-bottom: 10px;
}

.flex-div {
  display: flex;
  flex-direction: column;
}

.flex-picture {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flex-text {
  text-align: center;
}
