---
---

.navbar {
  color: whitesmoke;
}

.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: white;
  opacity: .50;
  border-radius: 25px;
}

.navbar li {
  float: center;
}

@import "{{ site.theme }}";
