@import "{{ site.theme }}";

.hy1 {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  overflow: hidden;
}

.hy2 {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.hy2:hover {
  background-color: hsl(0, 57%, 97%);
  color: black;
}

.link-style1 a {
  color: blue;
  text-decoration: underline;
}