@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --font-primary: 'Share Tech Mono', monospace;
  --color-text-light: white;
  --color-text-light-alt: whitesmoke;
  --color-text-dark: black;
  --color-background-dark: #1e1e1e;
  --color-background-medium: #2a2a2a;
  --color-link-hover: #0073b1; /* LinkedIn Blue */
  --color-accent: orange;
  --transition-speed: 0.5s;
}