<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/variables.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/global.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/bio.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/project_page.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/extras.css' | relative_url }}">
    {% seo %}
    {% include head-custom.html %}
  </head>
</head>

<body>
  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    {% include header.html %}
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <div class="main-bio">
      {{ content }}
    </div>

    <!-- PROJECTS TITLE -->
    <div>
      <h2 id="introduction" style="margin-left: 40px; margin-right: 40px; font-weight: bold;">Projects</h2>
    </div>

    <!-- NEW PROJECTS CARDS -->
    <div class="card-container">
      {% for project in site.data.projects %}
      <section width="100%" class="project-card">
        <div class="project-image">
          <img src="{{ project.image }}" alt="{{ project.title }}">
        </div>
        <h1 class="project-text project-header"><a href="{{ project.link }}">{{ project.title }}</a>
        </h1>
        <p class="project-text project-paragraph">
          {{ project.description }}
        </p>
      </section>
      {% endfor %}
    </div>
  </div>
</body>

</html>
