<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen"
    href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" type="text/css" href="https://drod75.github.io/assets/css/header.css">
  <link rel="stylesheet" type="text/css" href="https://drod75.github.io/assets/css/project_page.css">
  <link rel="stylesheet" type="text/css" href="https://drod75.github.io/assets/css/bio.css">
  
  <link href="/assets/css/output.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
  {% seo %}
  {% include head-custom.html %}
</head>

<body>
  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    {% include header.html %}
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <div class="main-bio">
      {{ content }}
    </div>

    <!-- PROJECTS TITLE -->
    <div>
      <h2 id="introduction" style="margin-left: 40px; margin-right: 40px; font-weight: bold;">Projects</h2>
    </div>

    <!-- NEW PROJECTS CARDS -->
    <div class="container">
      {% for project in site.data.projects %}
      <section width="100%" class="item">
        <div id="project_image">
          <img src="{{ project.image }}" alt="{{ project.title }}">
        </div>
        <h1 class="post-article pa-h1"><a style="color: white;" href="{{ project.link }}">{{ project.title }}</a>
        </h1>
        <p class="post-article pa-p">
          {{ project.description }}
        </p>
      </section>
      {% endfor %}
    </div>
  </div>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      {% include footer.html %}
    </footer>
  </div>
</body>

</html>