<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2"> <link rel="preconnect" href="https://fonts.googleapis.com">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');
  </style>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/main.css' | relative_url }}">

  {% seo %}
  {% include head-custom.html %}

  <title>{{ page.title | default: site.title }} - {{ site.name }}</title> </head>

<body>
  <header id="header_wrap" class="outer">
    {% include header.html %}
  </header>

  <main id="main_content_wrap" class="outer">
    <div class="main-bio">
      {{ content }}
    </div>

    <div>
      <h2 id="projects-title" class="section-title">Projects</h2>
    </div>

    <div class="card-container">
      {% for project in site.data.projects %}
      <section class="project-card">
        <div class="project-image">
          <img src="{{ project.image }}" alt="{{ project.title }}">
        </div>
        <h3 class="project-text project-header"><a href="{{ project.link }}">{{ project.title }}</a></h3> {# Changed h1 to h3 for better heading hierarchy #}
        <p class="project-text project-paragraph">
          {{ project.description }}
        </p>
      </section>
      {% endfor %}
    </div>
  </main>

  <footer id="footer_wrap" class="outer">
      {% include footer.html %}
  </footer>

</body>
</html>